<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekscene</title>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Add a New Post</h1>
    <form action="">
        <label for="post">Post:</label>
        <input type="text" name="post" id="post">

        <label for="date">Date:</label>
        <input type="date" name="date" id="date">
    </form>
    <button type="submit">Submit</button>
  </body>
</html>