<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geekscene</title>
  </head>
  <body>
    <h1>Welcome to Geekscene</h1>
    <p>Keep track of all your geeky interests!</p>
    <a href="/auth/sign-up">Sign up</a>
    <a href="/auth/sign-in">Sign in</a>
  </body>
</html>
